.overview-filter {
  margin-top: 40px;
  height: 100%;
}

.multiSelectContainer li {
  padding:10px;
  padding-left: 20px;
}

.searchWrapper {
  width: 200px;
  border: 0px;
}

.option {
  color: #95AB14;
  background-color: white;
}


.optionListContainer {
  width: 200px;
  border: white;
  // padding-left: 20px;
}
.search-wrapper {
  width: 200px;
  height: 30px;
  padding-left: 20px;
}

.searchBox {
font-size: 15px;
// border: white;
}

.singleChip {
  font-size: 18px;
  padding: 0px;
  color: #95AB14;
  // border: white;
  // background-color: #CFE58C;
}

.optionContainer {
  font-size: 30;
}


