$green-light: #CFE58C; // rgba(207, 229, 140, 1)
$green-primary: #B8D859; // rgba(184, 216, 89, 1)
$green-dark: #95AB14; // rgba(149, 171, 20, 1)

$black: #262120;
$yellow: #FDF77A; // rgba(253, 247, 122, 1)
$brown: #E0A604;
$brown-hover:#bd8c04;
$white: #FFFFFF;


