$bg: rgb(252, 221, 210);
$A: rgb(37, 175, 209);
$B: rgb(151, 223, 241);
$C: rgb(18, 167, 204);

// $blue-primary: #0050b3;
// $blue-light: #096dd9;
// $blue-dark: #003a8c;

// $white-light: #f8f8f8;
// $white-bg: #eaeaea;
// $white-pure: #ffffff;

// $gray-blue: #697b91;
// $gray-blue-hover: #495666;

