@import 'color';
@import 'media-size';


.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 960px;
  background-color: $bg;

  @media screen and (min-width: $LG) {
    width: 100%;
    width: 960px;
    background-color:rgb(181, 241, 252);
  }
  @media screen and (min-width: $XL) {
    width: 100%;
    max-width: 1140px;
    background-color:rgb(189, 240, 189);
  }
  @media screen and (min-width: $XXL) {
    width: 100%;
    max-width: 1320px;
    background-color:rgb(231, 231, 182);
  }
}