@import '../../assets/scss/color.scss';

.cart {
  // background-color: rgba($color: $green-light, $alpha: 0.45);
  min-height: 90vh;
  display: flex;

  &__left {
    width: 65%;
    // background-color: antiquewhite;
    margin-top: 40px;
    margin-right: 35px;
  }
  &__right {
    width: 35%;
    // background-color: rgb(190, 235, 220);
    margin-top: 40px;

    align-self: flex-start; // flex父元素下的sticky使用 1/3
    position: sticky; // flex父元素下的sticky使用 2/3
    top: 0; // flex父元素下的sticky使用 3/3
  }

  &__products {
    margin-top: 30px;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
    padding-bottom: 40px;
    border-bottom: 3px solid $green-dark;
  }

  &__details--image {
    width: 200px;
    height: 200px;
    // margin: 15px;
    // padding: 15px
    // border-radius: 50%;
    // position: relative;
    // top:-20%;
    // left: 16%;
  }

  &__details--text {
    margin: 0 30px;
  }

  &__details--left {
    display: flex;
  }

  &__details--right {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
  }

  &__details--delete-position {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__details--delete {
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 20px;

    // &:hover {
    //   background: $green-primary;
    // }
  }

  &__remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  &__btn {
    // background-color: transparent;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: $green-light;
    &:hover {
      background: $green-primary;
    }
  }

  &__remove-btn-image {
    height: 15px;
  }

  &__checkout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid $green-dark;
  }

  &__title--right {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__right--border {
    margin: 66.6px 0;
    border: 3px solid $green-primary;
  }

  &__right--line {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__right--grey {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    border-top: 1.5px solid gray;
  }

  &__right--button {
    display: flex;
    justify-content: center;
  }
}
