@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import '../../assets//scss//color.scss';

// html {
//   font-size: 20px;
// }
// body {
//   font-family: "Open Sans", sans-serif;
//   line-height: 1;
//   position: relative;
// }

.Root {
  height: 50vh;
  position: relative;
  top: 50px;
  left: 18%;
}

.Tabs {
  height: 100%;
  width: 100%;
  display: flex;
}

.TabList {
  position: relative;
  top: 8%;
  width: 11rem;
  background: white;
  list-style: None;
}

.TabPanel {
  flex: 1;
  display: none;
  padding: 1.5rem 2rem;
}
.TabPanel.is-active {
  display: block;
}
.Button {
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem ;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  //color: #fff;
  color: black;

}
.Button:focus,
.Button:hover {
  outline: 0;
  //background: #37474F;
  //background: $green-dark;
}
.Tab.is-active .Button {
  background: #FDF77A;
  border-radius: 20px;
  width: 100%;
}
.hr {
  border:0;
  background-color:$green-dark;
  height:1px;
}
.ps {
  display: flex;
  flex-direction: column;
}

