@import '../../assets//scss//color.scss';


.home-page {
  &__deals--cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px;
  }

  &__deals--card {
    margin: 130px 15px 50px 15px;
    height: 450px;
    width: 250px;
    border-radius: 30px;
    background-color: $white;


    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: x-large;
    }

    p {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: larger;
    }
  }

  &__deals--image {
    width:200px;
    height: 250px;
    position: relative;
    top:-20%;
    left: 16%;
  }

  &__deals--describes {
    position: relative;
    top:-20%;
    margin: 0 30px;
  }

  &__deals--describe-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  &__deals--describe-old-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: grey;
    text-decoration-line: line-through;
  }
}

.product-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
