@import '../../assets/scss/color.scss';
.profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15%;
  top: 0%;

  &_title {
    display: flex;
    align-items: flex-start;
    margin: 30px 0px;
    margin-bottom: 10px;
    font-size: 30px;
    //font-weight: bold;
  }

  &_imgAndInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_imgAndInput-img {
    background-image: url('../../assets/img/User.svg');
    padding: 110px;
    padding-right: 120px;
    // margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 170px;
    border-radius: 9px;
    flex-basis: 0%;
    border: 2px solid $green-dark;
    border-radius: 50%;
  }
  &_imgAndInput-inputs {
    //margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    //padding-left: 50px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    // padding-bottom: 100px;
    // border: 1px solid #000;
  }
  &_save-button {
    font-size: 20px;
    color: white;
    display: flex;
    margin: 60px;
    margin-top: 25px;
    padding: 15px;
    border-radius: 20px;
    background-color: $green-dark;
    justify-content: center;
    //position: relative;
    //left: 25px;
  }
}

.hr_feature {
  width: 100%;
  height: 5px;
  background-color: $green-light;
  border: none;
}
.hr2_feature {
  position: absolute;
  top: 500px;
  left: 0px;
  width: 100%;
  height: 5px;
  background-color: $green-light;
  border: none;
}
.inputFeature {
  height: 40px;
  background-color: $green-light;
  border: none;
  border-radius: 9px;
}

.inputFeature {
  padding-right: 160px;
  padding-bottom: 50px;
  background-color: white;
  border: 1px solid black;
  // margin-top: 50px;
}

.inputName {
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.shop {
  width: 800px;
  &_title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &_card {
    height: 200px;
    width: 100%;
    border: 1px solid $green-light;
  }
  &_header {
    background-color: #fdf77a;
    display: flex;
    flex-direction: row;
    //margin-left: 10px;
    &_detail {
      margin-top: 10px;
      font-size: 15px;
      width: 100%;
    }
  }
  &_img {
    background-image: url('../../assets/img/tomato.jpg');
    margin-left: 10px;
    margin-top: 20px;
    height: 73%;
    width: 15%;
    border: 1px solid $green-light;
    background-size: cover;
    overflow: hidden;
  }
  &_intro {
    position: relative;
    left: 300px;
    top: -160px;
  }
  &_price {
    position: relative;
    left: 300px;
    top: -135px;
  }
  &_num {
    position: relative;
    left: 720px;
    top: -270px;

    &_input {
      margin-left: 5px;
      width: 3%;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      border-radius: 9px;
    }
  }
}
.edit_button {
  position: relative;
  left: 700px;
  top: -200px;
  background-color: white;
}
.edit_img {
  background-image: url('../../assets/img/Pen.png');
  width: 2%;
  height: 11%;
  position: relative;
  left: 675px;
  top: -180px;
  background-size: cover;
  overflow: hidden;
}
.delete_button {
  position: relative;
  left: 725px;
  top: -220px;
  background-color: white;
}
.checkbox {
  font-size: 15px;
  margin-bottom: 5px;
  color: $green-light;
  margin-top: 20px;
  margin-left: 12px;
}
.check {
  //zoom: 80%;
}
.shop_header_checkheader {
  margin: 10px;
}

.hr_feature {
  height: 2px;
}
.hr2_feature {
  height: 2px;
  margin-top: -40px;
}
.inputName {
  margin-left: 0px;
  margin-bottom: 3px;
}

#passwordTitle {
  margin-top: 30px;
  // background-color: $green-light;
  background-color: rgba($color: $green-light, $alpha: 0.36);
  text-align: center;
  padding: 50px;
  font-size: 40px;
  font-weight: bold;
}

#emailTitle {
  margin-top: 87px;
  // background-color: $green-light;
  background-color: rgba($color: $green-light, $alpha: 0.36);
  text-align: center;
  padding: 50px;
  font-size: 40px;
  font-weight: bold;
}
.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_inputName {
    // margin-left: 740px;
    // margin-bottom: 0px;
    width: 400px;
  }
  &_inputFeature {
    // margin-left: 740px;
    // padding-right: 160px;
    width: 400px;
    // padding-bottom: 35px;
    border: 1px solid black;
    border-radius: 9px;
  }
}
#password_profile_save-button {
  font-size: 20px;
  // display: flex;
  // margin-left: 805px;
  margin-top: 25px;
  padding: 15px 75px;
  border-radius: 20px;
  background-color: $green-dark;
  justify-content: center;
  color: white;
}

#email-button {
  font-size: 20px;
  // display: flex;
  // margin-left: 805px;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 15px 75px;
  border-radius: 20px;
  background-color: $green-dark;
  justify-content: center;
  color: white;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_inputName {
    // margin-left: 740px;
    // margin-bottom: 0px;
    width: 400px;
  }
  &_inputFeature {
    // margin-left: 740px;
    // padding-right: 160px;
    width: 400px;
    // padding-bottom: 35px;
    border: 1px solid black;
    border-radius: 9px;
  }
}
#nothing {
}
#nothing2 {
}

#p1 {
  margin-bottom: -15px;
}
#p2 {
  margin-bottom: -15px;
  font-weight: 5;
  font-size: 10px;
}
.shopIcon {
  margin: 0px 0px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-image: url('../../assets/img/ShopAvator.svg');
  background-size: cover;
  overflow: hidden;
  position: relative;
  left: 20px;
  top: 45px;
}
.jump {
  width: 7%;
  height: 40px;
  position: relative;
  left: 900px;
  top: 20px;
  border-radius: 10px;
  color: white;
  background-color: darkorange;
  font-size: 16px;
}
.message {
  width: 800px;
  position: relative;
  top: 30px;
  left: 0%;
  top: 3%;
  margin-left: 30px;

  &_title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  &_box {
    border: 1px solid $green-light;
    padding-top: 400px;
    width: 70%;
  }
}
