// @import '../../assets//scss//color.scss';
.overview-page__deals--card-font {font-size: large;}

.overview-page {
  &__deals--card {
    margin: 130px 15px 20px 15px;
    height: 420px;
    width: 250px;
    // border-radius: 30px;
    // background-color: $white;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: x-large;
    }

    p {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: larger;
    }
  }

  &__deals--image {
    width:200px;
    height: 210px;
    position: relative;
    top:-20%;
    left: 10%;
  }

  &__deals--describes {
    position: relative;
    top:-20%;
    margin: 0 30px;
  }

  &__deals--describes-title {
    position: relative;
    // top:-20%;
    // right:-7%;
    // margin: 0 30px;
    color: black;
    font-size: large;
    font-weight: 400;
    padding: 0.83rem 0em;
    text-align: center;
  }

  &__deals--describe-price {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:0.6rem;
    margin-bottom: 0.6rem;
    // justify-content: space-evenly;
  }

  &__deals--describe-old-price {
    font-size: 1rem;
    font-weight: 400;
    color: grey;
    text-decoration-line: line-through;
  }
}
