.rc-pagination-item-active {
  border-color: #95AB14;
}

.rc-pagination {
  text-align: center;
  margin-bottom: 10px;
}

.rc-pagination-item a {
  color: black;
 
}

.rc-pagination-item a:hover {
  color: blue;
}

.rc-pagination-item:hover {
  border-color: #CFE58C;  
}