.role-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.avators {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
