.role-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.avators {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px;
}

.joinin-button {
  

  background-color: #EEF6D6;
  border-radius: 10%;
  transition-duration: 0.5s;
}

.joinin-button:hover {
  // boxShadow: "10px 10px 10px 10px rgba(0,0,0,0.1)", borderRadius: "10%"
  background-color: #E0A604;
    color: white;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  border-radius: 10%;
  h1 {
    color: white;
    transition-duration: 0.5s;
  }
}




