@import '../../assets//scss//color.scss';

.board{
    background-color: $green-light;
    height: 6rem;
    width: 19rem;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    &--pen {
        // width: 20%;
        margin: 1.5rem;
        &-image{
            height: 40px;
        }
    }

    &--text {
        margin-right: 0.8rem;
        width: 80%;
        &-words {
            font-size: 0.8rem;
        }
    }
}